<nav class="purple darken-3">
    <div class="class nav-wrapper container">
        <a href="#!" class="brand-logo center">Alumni Storybook</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories"></a></li>
            <li><a href="/dashboard"></a></li>
            <li><a href="/auth/logout"></a></li>
        </ul>
    </div>
</nav>